.product {
    grid-column: 1 / 2 span;
    height: 100%;
    display: grid;
    grid-template-columns: 3% 1fr;
    &__aside {
        @include deco-info("y");
        &.about {
            span {
                margin-bottom: -10em;
            }
        }
    }
    &__market {
        @include deco-info("title");
    }
    &__overview {
        input[type="range"] {
            width: 90%;
            margin-bottom: 1em;
            margin-left: 1.5em;
            &:focus {
                outline: none;
            }
            &,
            &::-webkit-slider-runnable-track,
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
            }
            &::-webkit-slider-thumb {
                background-color: white;
                width: 8px;
                height: 8px;
                border: 1px solid $color-medium;
                border-radius: 50%;
                margin-top: -0.2em;
            }
            &::-webkit-slider-runnable-track {
                background-color: $color-medium;
                height: 2px;
            }
            &:focus::-webkit-slider-runnable-track {
                outline: none;
            }
            &::-ms-fill-upper {
                background-color: $color-medium;
            }
        }
        &__image {
            width: 100%;
        }
    }
    &__title {
        padding: 1em 0.5em;
        h1 {
            font-family: $font-title;
            font-size: 30px;
            text-align: center;
        }
    }
    &__description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &__text {
            grid-column: 1 / 2 span;
            padding: 0 2.5em 1.5em 2.5em;
            text-align: center;
            font-size: 1em;
        }
        &__aside {
            grid-column: 1 / 2 span;
            @include deco-info();
            justify-content: space-around;
        }
        &__price,
        &__size {
            justify-self: center;
            align-self: initial;
            padding: 0.5em 0;
        }
        &__size {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0.5em;
            align-content: center;
            input[type="radio"] {
                opacity: 0;
                position: fixed;
                width: 0;
            }
            label {
                text-align: center;
                display: block;
                padding: 0.5em;
                font-size: 12px;
                color: $color-medium;
                border: 1px solid $color-medium;
                transition: all ease-in-out 0.3s;
            }
            label:hover {
                background-color: $color-main;
                border-color: $color-medium;
            }
        }
        &__price {
            display: flex;
            align-content: center;
            font-size: 25px;
            font-family: $font-title;
            font-style: italic;
        }
    }
    &__buy {
        justify-self: center;
        align-self: center;
        padding: 1em 0;
        button {
            background: $color-main;
            color: $color-extra;
            border: none;
            padding: 1em 5em;
            font-size: 15px;
            border: 1px solid transparent;
            transition: all ease-in-out 0.3s;
            text-transform: uppercase;
            &:focus {
                outline: none;
                border: 1px solid $color-main;
                background-color: white;
                color: $color-main;
            }
        }
    }
}
