.review {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 3% 1fr;
    &__aside {
        @include deco-info("y");
    }
    &__title {
        @include deco-info("title");
        margin-top: 3em;
    }
    &__comments {
        margin-right: 0.5em;
        &__comment {
            display: grid;
            grid-template-columns: 20% 1fr;
            margin: 1em;
            border: 1px solid $color-extra;
            border-radius: 10px;
            padding: 0.6em;
            column-gap: 1em;
            &__img {
                img {
                    width: 100%;
                    border: 1px solid $color-extra;
                    border-radius: 50%;
                }
            }
            &__text {
                font-size: 0.9em;
                h3 {
                    text-transform: uppercase;
                    font-family: $font-title;
                }
            }
            &__aside {
                grid-column: 1 / span 2;
                @include deco-info();
                margin-top: -1.3em;
                &::before {
                    background: transparent;
                }
            }
        }
    }
}
