<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css")
        title Off-White
    body(syle="overflow-x=hidden")
        .wrapper
            nav.nav
                .nav__brand
                    img.nav__brand(src="./static/logo.jpg", alt="")
                .nav__options
                    a.nav__option(href="#") "menu"    
            .product
                //aside.product__aside
                .product__market
                    span "Product"
                aside.product__aside 
                    span 'overview'
                .product__overview
                    img.product__overview__image(src="", alt="" id="productImage")
                    input(type="range" min="1" max="36" step="1" value="1" id="slider")   
                aside.product__aside 
                    span 'name'
                .product__title
                    h1 Nike Air Force 1 Off-White
                aside.product__aside(class="about") 
                    span 'about'
                .product__description
                    .product__description__text
                        p The force is within you, as Nike uses their very own and release the Air Force 1 Low Off-White Black White. This AF1 comes with a black upper, white Nike “Swoosh”, black midsole, and a black sole. These sneakers were released December 2018 and retailed for $170
                    aside.product__description__aside
                        span 'size'
                        span 'price'
                    .product__description__size
                        input(type="radio" name="size" value="S")
                        label(for="") S
                        input(type="radio" name="size" value="M")
                        label(for="") M
                        input(type="radio" name="size" value="L")
                        label(for="") L
                        input(type="radio" name="size" value="XL")
                        label(for="") XL
                    .product__description__price
                        p $ 1,040
                aside.product__aside
                    span 'buy'
                .product__buy
                    button "to cart"
            .review
                .review__title
                    span "Review"
                aside.review__aside
                    span 'critique'
                .review__comments
                    .review__comments__comment
                        aside.review__comments__comment__aside
                            span 'img'
                            span 'opinion'
                        .review__comments__comment__img
                            img(src="https://picsum.photos/300", alt="")
                        .review__comments__comment__text
                            h3 Comment title
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga ipsa quo consectetur pariatur ut laborum nam, sint libero ad!
                    .review__comments__comment
                        aside.review__comments__comment__aside
                            span 'img'
                            span 'opinion'
                        .review__comments__comment__img
                            img(src="https://picsum.photos/300", alt="")
                        .review__comments__comment__text
                            h3 Comment title
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga ipsa quo consectetur pariatur ut laborum nam, sint libero ad!
                    .review__comments__comment
                        aside.review__comments__comment__aside
                            span 'img'
                            span 'opinion'
                        .review__comments__comment__img
                            img(src="https://picsum.photos/300", alt="")
                        .review__comments__comment__text
                            h3 Comment title
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga ipsa quo consectetur pariatur ut laborum nam, sint libero ad!
                    .review__comments__comment
                        aside.review__comments__comment__aside
                            span 'img'
                            span 'opinion'
                        .review__comments__comment__img
                            img(src="https://picsum.photos/300", alt="")
                        .review__comments__comment__text
                            h3 Comment title
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga ipsa quo consectetur pariatur ut laborum nam, sint libero ad!
                    
                
                
            
                    
                    
                    